/*-- stylesheet for TNVWT */

h2 {
  color: DarkCyan !important;

}

body {
  margin: 0;
  padding: 0;

}

.slide {
  text-align: center;
}

#slide1,
#slide2,
#slide3,
#slide4 {
  background-image: url(IMG/river_bridge.jpg);
  background-repeat:no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center;
}
