/*-- stylesheet for TNVWT */
/* Text and body */

body {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif !important;
}

p {
  color: white;
  font-size: 2em;
}

strong {
    font-size: 1.2em;
    color: #5bc0de;
}

.fp-tableCell {
  background-color: rgba(2, 2, 2, 0.2);
}

.text-div {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(2, 2, 2, 0.2);
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 6px;
}

ol {
  list-style-type: decimal !important;
}

footer {
    position: fixed;
    bottom: 0px;
    display: block;
    width: 100%;
    background: rgba(51, 51, 51, 0.66);
    z-index: 9;
    text-align: center;
    color: #f2f2f2;
    padding: 20px 0 0 0;
    margin: 0;
}

/* Background */
#fullpage {
  background-image: url(IMG/river_bridge.jpg);
  background-repeat:no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center;
}

/* Centered Text */
.slide {
  text-align: center;
}

/* Navigation CSS */

#my-nav {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px !important;
}
#my-nav li{
    font-size: 2.6em;
    margin: 10px 0;
    cursor: pointer;
    display:inline;
    padding : 0px 130px;
}
#my-nav li:hover,
#my-nav li.active{
    color: white ;
}

body.fp-viewing-page1-firstSlide #my-nav .fa-map,
body.fp-viewing-page1-secondSlide #my-nav .fa-binoculars,
body.fp-viewing-page1-thirdSlide #my-nav .fa-heartbeat,
body.fp-viewing-page1-fourthSlide #my-nav .fa-address-card {
  color: #26cafb;
}

                                /* firstSlide */
#TNVWT_Logo {
  margin-left: auto;
  margin-right: auto;
  height: auto;
  padding-bottom: 40px;
  width: auto;
  max-width: 100%
}

#content1{
  height: auto;
  display: inline-grid;
  margin:auto;
}

#mapbtn {
  width: 275px;
  margin: auto;
  font-size: 18px;
  background-color: #3c9cb9;
  border-color: #3c9cb9;
}

                                      /* secondSlide */
#scenicbtn {
  width: 200px;
  margin: auto;
  font-size: 20px;
  background-color: #3c9cb9;
  border-color: #3c9cb9;
  padding: 6px;
}

#scenicText {
  margin: 0;
}

                                      /* thirdSlide */
#slide3 h1 {
  color: red;
  font-weight: bold;
  letter-spacing: 3px;
  margin-bottom: 20px;
  font-size: 42px;
}

#slide3 h2 {
  color: white;
  font-size: 1.5em;
}

#slide3 h3 {
    color: white;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    margin: auto;
    width: 78%;
    font-size: 22px;
}

#safetyWarning {
  height: 25%;
  overflow: scroll;
  border-radius: 20px;
  margin-top: 30px;
}

#safetyWarning ol {
  text-align: left;
  padding-right: 3px;
}

#safetyWarning li {
  color: white;
}

#safetyWarning ol ul li {
  color: blue;
}

#safetyWarning p {
  text-align: center;
  padding: 2px;
  font-size: 18px;
  margin-bottom: 0px;
  color: #337ab7;
  text-decoration: underline;
}

#safetyBtmH {
  margin-top: 50px !important;
}

                        /* fourthSlide */
#logoText {
  margin-bottom: 3%;
}

#logo_container {
  margin-bottom: 10%;
}

#slide4 h2 {
  color: white;
}

#TVA_logo {
      width: 17%;
      height: auto;
      float: left;
      cursor: pointer;
}

#NPS_logo {
      width: 16%;
      height: auto;
      cursor: pointer;
}
#TSP_logo {
      width: 18%;
      height: auto;
      float: right;
      cursor: pointer;
      border-radius: 15px;
      padding: 4px;
}

/* Media Queries */
@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }
